[Unit]
Description=Xtream 2 M3U server
After=network.target

[Service]
Type=simple

# Path to the Python interpreter inside the venv
ExecStart=/root/xtream2m3u/venv/bin/python /root/xtream2m3u/run.py --port 3333

# Optional: working directory for relative paths
WorkingDirectory=/root/xtream2m3u

# The user and group that should run the script
User=root
Group=root

# Environment variables (optional)
#Environment="PATH=/home/username/projects/venv/bin"
#Environment="VIRTUAL_ENV=/home/username/projects/venv"

# Restart automatically if the script fails
Restart=on-failure
RestartSec=5

# Optional logging
#StandardOutput=append:/var/log/my_script.log
#StandardError=append:/var/log/my_script.err

[Install]
WantedBy=multi-user.target
